        <div class='col-md-offset-2 col-md-8 text-center'>
        
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <div class="carousel slide" data-ride="carousel" id="quote-carousel">
            <!-- Bottom Carousel Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#quote-carousel" data-slide-to="0" class="active">
              </li>
              <li data-target="#quote-carousel" data-slide-to="1">
              </li>
              <li data-target="#quote-carousel" data-slide-to="2">
              </li>
            </ol>

            <!-- Carousel Slides / Quotes -->
            <div class="carousel-inner">

              <!-- Quote 1 -->
              <div class="item active">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-3 text-center">
                       <img src="http://placehold.it/50x50">
                    </div>
                    <div class="col-sm-9">
                      <p>
                        Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!
                      </p>
                      <small>
                        Someone famous
                      </small>
                    </div>
                  </div>
                </blockquote>
              </div>
              <!-- Quote 2 -->
              <div class="item">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-3 text-center">
                       <img src="http://placehold.it/50x50">
                    </div>
                    <div class="col-sm-9">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.
                      </p>
                      <small>
                        Someone famous
                      </small>
                    </div>
                  </div>
                </blockquote>
              </div>
              <!-- Quote 3 -->
              <div class="item">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-3 text-center">
                       <img src="http://placehold.it/50x50">
                    </div>
                    <div class="col-sm-9">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.
                      </p>
                      <small>
                        Someone famous
                      </small>
                    </div>
                  </div>
                </blockquote>
              </div>
            </div>


          </div>

        </div>

