
    
    <!--header end-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>




  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active hero">
   
        <a href="http://s1381.photobucket.com/user/taylorpadams/media/AdobeStock_59676531_zpsfjhdhwqw.jpg.html" target="_blank"><img src="http://i1381.photobucket.com/albums/ah230/taylorpadams/AdobeStock_59676531_zpsfjhdhwqw.jpg" border="0" alt=" photo AdobeStock_59676531_zpsfjhdhwqw.jpg"/></a>
          
          <!-- <iframe width="450px" height="290px" src="https://www.youtube.com/embed/YXVKy2vO9Xg?rel=0&playlist=YXVKy2vO9Xg&disablekb=1;controls=0&amp;showinfo=0&autoplay=1" frameborder="0" style="position:absolute;top:290px;"></iframe> -->
        
    </div>

    <div class="item hero">
     <a href="http://s1381.photobucket.com/user/taylorpadams/media/AdobeStock_6242258_zpsn3uscfp8.jpg.html" target="_blank"><img src="http://i1381.photobucket.com/albums/ah230/taylorpadams/AdobeStock_6242258_zpsn3uscfp8.jpg" border="0" alt=" photo AdobeStock_6242258_zpsn3uscfp8.jpg"/></a>
    </div>

    <div class="item hero">
      <a href="http://s1381.photobucket.com/user/taylorpadams/media/Dollarphotoclub_89311439_zpsi9f6zyrm.jpg.html" target="_blank"><img src="http://i1381.photobucket.com/albums/ah230/taylorpadams/Dollarphotoclub_89311439_zpsi9f6zyrm.jpg" border="0" alt="maybe whatever photo Dollarphotoclub_89311439_zpsi9f6zyrm.jpg"/></a>
    </div>

    <div class="item hero">
      <a href="http://s1381.photobucket.com/user/taylorpadams/media/AdobeStock_56079781_zpsfzz0bjhq.jpg.html" target="_blank"><img src="http://i1381.photobucket.com/albums/ah230/taylorpadams/AdobeStock_56079781_zpsfzz0bjhq.jpg" border="0" alt=" photo AdobeStock_56079781_zpsfzz0bjhq.jpg"/></a>
    </div>
  </div>

  <!-- Left and right controls -->
  
</div>

    <!--feature start-->

    <div class="container">
      <div class="row mar-b-50">
        <div class="col-md-12">
          <div class="text-center feature-head wow fadeInDown">
            <h1 class="">
              Creating water out of thin air
            </h1>

          </div>


          <div class="feature-box">
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                <a href="http://s1381.photobucket.com/user/taylorpadams/media/2cb71418-4d31-4972-a92f-43676012b577_zpslqy9nzjj.jpg.html" target="_blank"><img src="http://i1381.photobucket.com/albums/ah230/taylorpadams/2cb71418-4d31-4972-a92f-43676012b577_zpslqy9nzjj.jpg" border="0" alt=" photo 2cb71418-4d31-4972-a92f-43676012b577_zpslqy9nzjj.jpg"/></a>

                </em>
                <h4>
                  <b> Save Water</b>
                </h4>
              </div>
              <p class="text-center">
                Take advantage of a previously untaped, unlimited, pure water source that is already in your home right now. Capture that water and use it to breath life back into your dying lawn.  
              </p>
            </div>
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                  <a href="http://s1381.photobucket.com/user/taylorpadams/media/b986f9c4-7636-4aa8-bfa6-8cc204e1f38e_zpsjogea00t.jpg.html" target="_blank"><img src="http://i1381.photobucket.com/albums/ah230/taylorpadams/b986f9c4-7636-4aa8-bfa6-8cc204e1f38e_zpsjogea00t.jpg" border="0" alt=" photo b986f9c4-7636-4aa8-bfa6-8cc204e1f38e_zpsjogea00t.jpg"/></a>
                </em>
                <h4>
                  <b>Save Money</b>
                </h4>
              </div>
              <p class="text-center">
                By storing and using the distilled water from air conditioning condensation, we can reduce your water bill by up to 60%. Not only will your grass be greener than ever<br>...so will your wallet!
              </p>
            </div>
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                  <a href="http://s1381.photobucket.com/user/taylorpadams/media/f438aa7b-7269-4e20-bda3-b0b6404ebcbb_zps1ogu4byw.jpg.html" target="_blank"><img src="http://i1381.photobucket.com/albums/ah230/taylorpadams/f438aa7b-7269-4e20-bda3-b0b6404ebcbb_zps1ogu4byw.jpg" border="0" alt=" photo f438aa7b-7269-4e20-bda3-b0b6404ebcbb_zps1ogu4byw.jpg"/></a>
                </em>
                <h4>
                  <b>Save California</b>
                </h4>
              </div>
              <p class="text-center">
                California is almost out of water and droubt conditions are only getting worse. With Condensate, you can do your part to help conserve water without having to sacrifise your lawn or lifestyle in the process. 
              </p>
            </div>
          </div>

          <!--feature end-->
        </div>
        </div>
    </div>


    <!--property start-->
    <div class="property">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-6 text-center wow fadeInLeft">
            <img src="http://placehold.it/400x500">
          </div>
          <div class="col-lg-6 col-sm-6 wow fadeInRight">
            <h1>
              Our System
            </h1>
            <hr>
            <p>Imagine that - in your own home - you had your own personal water supply system that literally creates water out of thin air...Wouldn't that be cool? The reality is that you likely already have this system in your home right now.
            <br><br>
            The job of your A/C system is to take warm, humid air and turn it into cold, dry air that is then distributed throughout your home. The bi-product of this process is distilled water from condensation...and a surprisingly large amount of it!
            <br><br>
            Our condensate system collects the water that your A/C system produces and stores it in a tank. The pure water is then pumped from the tank into your homes water supply, to be used for whatever purpose that you desire - from irrigation to consumption.
            <br><br>There are no up front costs for the system. Installation is free. You will never need to touch or service the system. We provide a full service, turn key solution for as low as $15 a month.
            <br><br>Tap into your own private water supply, while also saving money and helping to alleviate California drought conditions at the same time.
            </p>
            <p>
              <i class="fa fa-check fa-lg pr-10">
              </i>
              
            </p>
            <p>
              <i class="fa fa-check fa-lg pr-10">
              </i>
              
            </p>
            <p>
              <i class="fa fa-check fa-lg pr-10">
              </i>
              
            </p>
            <hr>
            <a href="javascript:;" class="btn btn-purchase">
              Learn More.
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--property end-->

    <div class="container">

      <div class="row mar-b-60">
        <div class="col-lg-6">
          <!--tab start-->
          <section class="tab wow fadeInLeft">
            <header class="panel-heading tab-bg-dark-navy-blue">
              <ul class="nav nav-tabs nav-justified ">
                <li class="active">
                  <a data-toggle="tab" href="#news">
                    News
                  </a>
                </li>
                <li>
                  <a data-toggle="tab" href="#events">
                    Events
                  </a>
                </li>
                <li class="">
                  <a data-toggle="tab" href="#notice-board">
                    Notice board
                  </a>
                </li>
              </ul>
            </header>
            <div class="panel-body">
              <div class="tab-content tasi-tab">
                <div id="news" class="tab-pane fade in active">
                  <article class="media">
                    <a class="pull-left thumb p-thumb">
                      <img src="http://placehold.it/50x50">
                    </a>
                    <div class="media-body b-btm">
                      <a href="#" class=" p-head">
                        News Tittle goes here
                      </a>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </p>
                    </div>
                  </article>
                  <article class="media">
                    <a class="pull-left thumb p-thumb">
                      <img src="http://placehold.it/50x50">
                    </a>
                    <div class="media-body b-btm">
                      <a href="#" class=" p-head">
                        News Tittle goes here 2
                      </a>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. simsut dorlor
                      </p>
                    </div>
                  </article>
                  <article class="media">
                    <a class="pull-left thumb p-thumb">
                      <img src="http://placehold.it/50x50">
                    </a>
                    <div class="media-body b-btm">
                      <a href="#" class=" p-head">
                        News Tittle goes here 3
                      </a>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. sumon ahmed
                      </p>
                    </div>
                  </article>
                </div>
                <div id="events" class="tab-pane fade">
                  <article class="media">
                    <a class="pull-left thumb p-thumb">
                      <!--image goes here-->
                    </a>
                    <div class="media-body b-btm">
                      <a href="#" class="cmt-head">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </a>
                      <p>

                        <i class="fa fa-time">
                        </i>
                        1 hours ago
                      </p>
                    </div>
                  </article>
                  <article class="media">
                    <a class="pull-left thumb p-thumb">
                      <!--image goes here-->
                    </a>
                    <div class="media-body b-btm">
                      <a href="#" class="cmt-head">
                        Nulla vel metus scelerisque ante sollicitudin commodo
                      </a>
                      <p>

                        <i class="fa fa-time">
                        </i>
                        23 mins ago
                      </p>
                    </div>
                  </article>
                  <article class="media">
                    <a class="pull-left thumb p-thumb">
                      <!--image goes here-->
                    </a>
                    <div class="media-body b-btm">
                      <a href="#" class="cmt-head">
                        Donec lacinia congue felis in faucibus.
                      </a>
                      <p>

                        <i class="fa fa-time">
                        </i>
                        15 mins ago
                      </p>
                    </div>
                  </article>
                </div>
                <div id="notice-board" class="tab-pane fade">
                  <p>
                    Notice board goes here Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ablic jiener.
                  </p>
                  <p>
                    Notice board goes here Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ablic jiener.
                  </p>
                </div>
              </div>
            </div>
          </section>
          <!--tab end-->
        </div>
        <div class="col-lg-6">
          <!--testimonial start-->


          <%= render "carouselhomes" %>   
         


          <!--testimonial end-->
        </div>
        </div>
      </div>


    <!--recent work start-->
    <div class="bg-lg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 recent">
            <h3 class="recent-work">
              Recent Work
            </h3>
            <p>Some of our work we have done earlier</p>
            <div id="owl-demo" class="owl-carousel owl-theme wow fadeIn">

              <div class="item view view-tenth">
                <img src="http://placehold.it/220x180">
                <div class="mask">
                  <a href="blog-detail.html" class="info" data-toggle="tooltip" data-placement="top" title="Details">
                    <i class="fa fa-link">
                    </i>
                  </a>
                </div>
              </div>
              <div class="item view view-tenth">
                <img src="http://placehold.it/220x180">
                <div class="mask">
                  <a href="blog-detail.html" class="info" data-toggle="tooltip" data-placement="top" title="Details">
                    <i class="fa fa-link">
                    </i>
                  </a>
                </div>
              </div>
              <div class="item view view-tenth">
                <img src="http://placehold.it/220x180">
                <div class="mask">
                  <a href="blog-detail.html" class="info" data-toggle="tooltip" data-placement="top" title="Details">
                    <i class="fa fa-link">
                    </i>
                  </a>
                </div>
              </div>
              <div class="item view view-tenth">
                <img src="http://placehold.it/220x180">
                <div class="mask">
                  <a href="blog-detail.html" class="info" data-toggle="tooltip" data-placement="top" title="Details">
                    <i class="fa fa-link">
                    </i>
                  </a>
                </div>
              </div>
              <div class="item view view-tenth">
                <img src="http://placehold.it/220x180">
                <div class="mask">
                  <a href="blog-detail.html" class="info" data-toggle="tooltip" data-placement="top" title="Details">
                    <i class="fa fa-link">
                    </i>
                  </a>
                </div>
              </div>
              


            </div>
          </div>
        </div>
      </div>
      <!--recent work end-->
    </div>



    <div id="home-services">

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>
              In case you need any Help
            </h2>
          </div>

          <div class="col-md-4">
            <div class="h-service">
              <div class="icon-wrap ico-bg round-fifty wow fadeInDown">
                <i class="fa fa-question">
                </i>
              </div>
              <div class="h-service-content wow fadeInUp">
                <h3>
                  Nobody Loves You.
                </h3>
                <p>
                  Stuff to write here.
                  <br>
                  <a href="#">
                    Learn more
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="h-service">
              <div class="icon-wrap ico-bg round-fifty wow fadeInDown">
                <i class="fa fa-h-square">
                </i>
              </div>
              <div class="h-service-content wow fadeInUp">
                <h3>
                  NEED SUPPORT? Too Bad.
                </h3>
                <p>
                  Go away.
                  <br>
                  <a href="#">
                    Learn more
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="h-service">
              <div class="icon-wrap ico-bg round-fifty wow fadeInDown">
                <i class="fa fa-users">
                </i>
              </div>
              <div class="h-service-content wow fadeInUp">
                <h3>
                  Darkness.
                </h3>
                <p>
                  You have no friends.
                  <br>
                  <a href="#">
                    Learn more
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- /row -->

      </div>
      <!-- /container -->

    </div>
    <!-- service end -->

    <div class="hr">
      <span class="hr-inner"></span>
    </div>

    </div> 
  </div>
</div>



    